body {

    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: auto;
}

main,
footer {
    margin: 0px 50px 0px 50px;
}

.flex {
    display: flex;
}

.flex-space,
.flex-hebergements {
    display: flex;
    justify-content: space-between;
}

.flex-hebergements{
    margin-bottom: 65px;
}


.flex-filtres{
    display: flex;
}


.flex-center,
.border-icon,
.border-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-filtre {
    display: flex;
    align-items: center;
}

.flex-filtre2{
    display: flex;
    align-items: center;
}

#logo {
    height: 19px;
    width: 61px;
    color: #0065FC;
    margin-top: auto;
    margin-left: 30px;
}

.puce {
    list-style-type: none
}

#puce-flex {
    display: flex;
    padding: 0;
    gap: 69px;
    margin-top: 16px;
    margin-right: 42.61px;
}

a:hover {
    color: #0065FC;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_nav{
    width: 30%;
    display: flex;
}

.container_nav_bar1,.container_nav_bar2{
    display: flex;
    width: 50%;
    align-items: end;
    justify-content: center;
    padding-top: 20px;
}

.container_nav_bar1:hover{
    border-top:  #0065FC 3px solid;
}

.container_nav_bar2:hover{
    border-top:  #0065FC 3px solid;
}

::placeholder {
    color: black;
}


a {
    text-decoration: none;
    color: #000000;
}

#margin-main1 {
    margin-top: 60px;
}

#margin-main2 {
    margin-top: 8px;
}


#margin-main1,
#margin-main2 {
    margin-bottom: 0px;
}


.margin-main3 {
    margin-top: 35px;
}

.margin-main4 {
    margin-bottom: 37.5px;
}


.my-icon {
    color: #0065FC;

}

.star-grey {
    color: #F2F2F2;
}


.filter-bar {

    position: absolute;
    width: 35%;
    height: 50px;
    left: 62px;
    top: 280px;

}

.border-icon {
    height: 51px;
    width: 53px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}


input[type="text"] {
    height: 49px;
    font-family:'Raleway';
    border: 1px solid #F2F2F2;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

} 


.main-container,.filtres,.categories {
    display: unset;
}


.search-button{

    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    font-style: normal;

}

.search-button-desktop {
    display: inline-block;
  }
  
  .search-button-mobile {
    display: none
  }



.margin-filtre {
    margin-top: 49.5px;
}

.filtre-typo {
    height: 20px;
    font-size: 17px;
    line-height: 20px;
}


.border-filtre {

    border: solid 2px #D9D9D9;
    max-height: 45px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

#p-width{
    width: auto;
}

.border-img1,
.border-img2,
.border-img3 {
    object-fit: cover;
}


.gap1 {
    gap: 12px;
}

.gap-filtre {
    gap: 10px;
}

.border-filtre:hover {
    background-color: #DEEBFF;
}

.border-info {
    width: 2%;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

}

.border-card1 {
    padding: 30px;
    gap: 30px;
    width: 60%;
    background: #F2F2F2;
    border-radius: 15px;
    margin-right: 40px;
}

.border-img1 {
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-title1,
.popular-title1 {
    margin-top: 4px;
    margin-bottom: 0px;

}

.hebergements_title2,
.popular-title2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hebergements-title1,
.popular-title1,
.activites-title {
    font-size: 16px;
    line-height: 19px;
}



.hebergements-title2,
.popular-title2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.main-title {

    font-size: 120%;
    font-weight: 700;
    line-height: 26px;
    height: 26px;
}

.hebergements-title1 {
    width: 98%;
    height: 19px;
}

.hebergements_title2 {
    width: 220.33px;
    height: 16px;

}

.popular-title1 {
    width: 80%;
}

.popular-title2 {
    width: 70%;
    height: 16px;
}

.sub-title {
    height: 21px;
    font-size: 18px;
    line-height: 21px;
}

.activites-title {
    width: 90%;
    height: 19px;
}

.card-article1,
.card-article2,
.card-article3,
.border-img3 {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}


.card-article1 {
    padding: 0px 0px 15px;
    gap: 4px;
    width: 30%;
    height: 207.25px;
    border-radius: 20px;
    background: #FFFFFF;
}

.margin-card {
    margin-top: 30px;
}

.margin-lefticon {
    margin-left: 15px;
}

.border-card2 {
    width: 30%;
    background: #F2F2F2;
    border-radius: 15px;
    padding: 30px;

}

.border-img2 {
    width: 33%;
    height: 144px;
    border-width: 5px 0px 5px 5px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    margin-right: 15px;

}

.card-article2 {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px; 

}

.flex-column,
.card-article1 {
    display: flex;
    flex-direction: column;
}

.margin-card1 {
    margin-top: 15px;
}

.display-center,
.card-article3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-auto {
    margin-top: auto;
    line-height: 45px;
}

.margin-article1 {
    margin-left: 15px;
}

.padding-activites{
    padding: 8px;
}

.border-img3 {

    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.card-article3 {
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 0px;
    width: 25%;
}

.gap-activites {
    gap: 4%;
    margin-bottom: 65px;
}

.border-card3 {
    width: 90%;
    height: 163px;
    background: #F2F2F2;

}

#padding-footer {
    padding: 20px;
}

.padding-ul {
    padding-left: 0;
}

.box {
    width: 33%;
    height: 100%;
}

footer li {
    padding-bottom: 15px;
}

footer h2 {
    margin-top: 0px;
}

.flex-popular {
    display: unset;
}


@media screen and (max-width: 1024px) {


   body{
    max-width: 1024px;
   }

    .flex-hebergements {
        flex-direction: column;
    }


    .border-img1 {

        width: 100%;
    }

    .border-card1 {
        width: 95%;
    }

    .card-article1 {
        width: 30%;
        height: 207.25px;

    }

    .border-card2 {
        width: 95%;
    }

    .card-article2 {
        width: 30%;
    }

    .flex-popular {
        display: flex;
        justify-content: space-between;
    }

    .popular-title1 {
        width: 124px;
    }


    .border-card1{
        margin-bottom: 50px;

    }

    .card-article3 {
        width: 20%;
    }

    .border-img3 {
        width: 100%;
        height: 200px;
    }

    .activites-title{
        width: 90%;
        display: flex;
        align-items: center;
    }

    .border-card3 {
        width: 90%;
        height: 144px;
    }

    .gap-activites{
        gap: 30px;
        width: 100%;
    }
}

    @media screen and (max-width: 768px) {



    body{
        max-width: 768px;
    }


    #logo{
        margin-left: 0%;

    }

    main, footer{
        margin: unset;
    }


    nav{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container_nav_bar1:hover{
        border-bottom:  #0065FC 3px solid;
        border-top: none;
    }

    #container_nav {
        width: 100%;
    }

    .container_nav_bar2:hover{
        border-bottom:  #0065FC 3px solid;
        border-top: none;
    }

    .container_nav_bar1,.container_nav_bar2{
        border-bottom:  #F2F2F2 3px solid;
    }


    .margin-section{
        margin: 0px 20px 0px 20px;
    }

    .search-button-desktop {
        display: none;
        }
    
    .search-button-mobile {
        
        display: inline-block;
    }

    #margin-main1{
        width: 100% ;
        height: 52px;
        margin-top: 30px;
    }

    #margin-main2{
        width: 100%;
    }

    .border-icon{
        width: 50px;
        height: 49px;
    }

    input[type="text"]{
        width: 70%;
    }

    .filtre-typo{
        height: 16px;
    }

    .flex-filtres{
        flex-wrap: wrap;
    }

    .flex-filtre2{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
    }

    .border-filtre{
    padding: 4px 19px;
    gap: 10px;
    width: 125px;
    height: 50px;
    }

    .border-info{
        width: 32px;
    }

    #p-width{
        width: 348%;
    }

    .flex-hebergements {
        display: flex;
        flex-direction: column-reverse;

    }

    .card-article2,.card-article1{
        width: 100%;

    }

    .flex-popular{

        display: flex;
        flex-direction: column;
    }


    .border-card2{
        margin-bottom: 0px;
        width: 100%;
        height: unset;
        box-sizing: border-box;
        border-radius: 0px;


    }

    .border-card1{
        width: 90%;
        padding: 0px;
        background-color: #FFFFFF;
    }

    .flex-space{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
    }

    .border-img1{
        width: 100%;
        height: 124px;
    }

    .margin-card{
        margin-top: 15px;
    }

    .card-article3 {
        width: 95%;
    }

    .border-img3 {
        width: 100%;
        height: 141px;
    }

    .activites-title{
        width: 90%;
    }

    .border-card3{
        width: 100%;
        height:100%;
        box-sizing: border-box;
    }

    .sub-title{
        font-size: 115%;
        height: 30px;
    }
}

@media screen and (max-width: 385px) {

    .flex-filtres{
        flex-wrap: nowrap;

    }


}
